body { background: #b24781; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 46px; display: flex; }
.block-cluster-0 { color: #b958fa; font-size: 17px; margin-bottom: 5px; }
.block-sms-1 { color: #629135; font-size: 12px; margin-bottom: 5px; }
.block-logger-2 { color: #fc5840; font-size: 15px; margin-bottom: 5px; }
.block-helper-3 { color: #87bb38; font-size: 18px; margin-bottom: 5px; }
.block-cart-4 { color: #a0b131; font-size: 19px; margin-bottom: 5px; }